@model ChangePasswordViewModel
@{
    Layout = null;
}

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Ajax.BeginForm(null, null,
                new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnSuccess = "App.OnModalSubmitSuccess"
                }, 
                new { @class = "form-horizontal" }))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                </div>

                <div class="modal-body">
                    @Html.EditorFor(x => x.OldPassword)
                    @Html.EditorFor(x => x.NewPassword)
                    @Html.EditorFor(x => x.ConfirmNewPassword)
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" style="padding: 4px 26px;" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" style="padding: 4px 26px;">保存</button>
                </div>
            }
        </div>
    </div>
</div>