
@{
    ViewBag.CinemaConfig = "active";
    ViewBag.UserInfo = "active";
    ViewBag.Title = "接入商可访问影院管理";

    int UserId = ViewBag.UserId;
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        接入商可访问影院管理
        <small>查看并管理接入商可访问影院</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="javascript:;"><i class="fa fa-cine"></i> 影院配置</a></li>
        <li class="active">接入商可访问影院管理</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="dataTables_wrapper table-responsive no-padding">
                <!---表头-->
                <table id="DataTable" class="table table-bordered-edge table-hover dataTable"
                       data-toggle="dynatable-paged"
                       data-url="@Url.Action(MvcNames.UserCinema.List)"
                       data-row-template="cinema-row-template">
                    <thead>
                        <tr>
                            <th data-dynatable-no-sort="true">#</th>
                            <th data-dynatable-no-sort="true">影院名称</th>
                            <th data-dynatable-no-sort="true">影院编码</th>
                            <th data-dynatable-no-sort="true">中间件</th>
                            <th data-dynatable-no-sort="true">支付类型</th>
                            <th data-dynatable-no-sort="true">有效期</th>
                            <th data-dynatable-no-sort="true">套餐接口</th>
                            <th data-dynatable-no-sort="true" width="180px">操作</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <!---查询条件-->
                <div class="dynatable-custom-filter">
                    <input type="text" placeholder="影院编码" name="CinemaCode" style="display:inline-block;width:195px;font-size:14px;height:34px;margin-left:5px;" class="form-control dynatable-query js-date-range" />
                    <input type="text" placeholder="影院名称" name="CinemaName" style="display:inline-block;width:195px;font-size:14px;height:34px;margin-left:5px;" class="form-control dynatable-query js-date-range" />
                </div>
                <!---添加按钮-->
                <div class="dynatable-operation">
                    <a class="btn btn-success btn-sm" href="@Url.Action(MvcNames.UserCinema.Create)?UserId=@UserId">
                        <i class="fa fa-plus"></i>
                        添加可访问影院
                    </a>
                </div>
            </div>

            <script type="text/x-handlebars-template" id="cinema-row-template">
                <tr>
                    <td style="text-align: left;overflow:hidden;">{{row}}</td>
                    <td style="text-align: left;overflow:hidden; ">{{cinemaName}}</td>
                    <td style="text-align: left;overflow:hidden;">{{cinemaCode}}</td>
                    <td style="text-align: left;overflow:hidden;">{{cinemaType}}</td>
                    <td style="text-align: left;overflow:hidden;">{{payType}}</td>
                    <td style="text-align: left;overflow:hidden;">{{expdate}}</td>
                    <td style="text-align: left;overflow:hidden; color:{{statusClass}}">{{openSnacks}}</td>
                    <td style="text-align: left;overflow:hidden;">
                        <a href="@Url.Action(MvcNames.UserCinema.Update)/{{id}}">编辑</a>
                        |
                        <a href="javascript:void(0)"
                           data-href="@Url.Action(MvcNames.UserCinema.Delete)/{{id}}" data-toggle="popover"
                           data-ajaxsuccess="App.onOperationSuccessWithinPagedList"
                           data-message="确认删除?" data-type="confirm" data-placement="left"
                           data-content-template="#delete-confirm-template">
                            删除
                        </a>
                    </td>
                </tr>
            </script>
        </div>
    </div>
</section>