@{
    ViewBag.Title = "错误";
}

<section class="content-header">
    <h1>
        出错了~~~
        <small></small>
    </h1>
</section>

<section class="content">
    <!-- Your Page Content Here -->

    <div class="row">
        <div class="col-xs-12">
            <h3>请重试....</h3>
        </div>
    </div>

</section>

